body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#testImage {
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);
  width: 540px;
  height: 960px;
  width: auto;
  opacity: 0.5;
  user-select: none;
}

* {
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

#threeCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* left: 960px; */
  /* transform: translateX(-50%); */
  /* margin-left: 50%; */
  /* transform: translateX(-100%); */
}

#videoCanvas {
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-left: 50%; */
  /* transform: translateX(-50%); */
}

.controls {
  display: flex;
  width: fit-content;
  padding-left: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#pause {
  width: 15rem;
}

#info {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
}

input {
  display: block;
  margin-left: 1rem;
}

#fovLabel {
  width: 6rem;
  text-align: left;
  margin-right: -2rem;
}

#spriteAnimation {
  width: 100%;
  height: 100%;
}

#spriteAnimation img {
  width: 50%;
  height: 100%;
}
